<div class="container text-center">
<%= image_tag "coffeetalk.png", height: 100 %>
  <div class="row top-10">
    <div class="col-8">
        <div class="card chatbox-height scroll">
            <div class="card-body text-format">
                <%= render @messages %>
            </div>
        </div>
        <div class="input-group mb-3 top-gap">
        <%= form_for(@message, html: {class: "form-control", role: "form", placeholder: "Hi, Say Something - Its Coffee talk Time."}, url: message_path) do |f| %>
            <%= f.text_field :body %>
            <%= f.button '<i class="bi bi-send-fill"></i>'.html_safe %>
        <% end %>
        </div>
    </div>
    <div class="col-4">
        <div class="card chatbox-height">
            <ul class="list-group list-group-flush">
                <li class="list-group-item color-black-white">Home</li>
                <li class="list-group-item color-black-white">Messages</li>
                <li class="list-group-item color-black-white">Friends</li>
            </ul>
        </div>
    </div>
  </div>
</div>